<div class="card">
    <div class = "card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi, nisi recusandae et unde nostrum corrupti fugiat minus. Omnis maiores eos, molestias exercitationem fuga consequatur ut quod magnam, dolorem delectus saepe!</p>
    </div>
</div>