<!-- Footer -->
<footer>

  <!-- Copyright -->
  <div class="text-center py-3 fixed-bottom">
    Made with <i class="fas fa-heart"></i> by Rachel
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->