<div class="card mt-4 mx-auto">
    <div class = "card-body">
        <h1 class="card-title d-flex justify-content-between align-items-center">
            Edit profile 
        </h1>
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Main info</h5>
                    <form action="/users/edit-profile/{{userInfo.id}}?_method=PUT" method="POST">
                        <input type="hidden" name="_method" value="PUT">
                        <div class="form-group">
                            <p>Username: </p><input type="text" name="name" class="form-control" value="{{userInfo.name}}">
                        </div>
                        <div class="form-group">
                            <p>Email: </p><input type="text" name="email" class="form-control" value="{{userInfo.email}}">
                        </div>
                        <div class="form-group">
                            <p>Current status:</p><textarea name="description" class="form-control">{{userInfo.description}}</textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" type="submit">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
